<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CDPReplayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87BC33F61E7FB71E00C8FEDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87BC340F1E7FB71F00C8FEDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87BC341A1E7FB71F00C8FEDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
